#listwrapper {
  margin-top:126px;
  margin-left:auto;
  margin-right:auto;
  width:1015px;
}

.booklist {
  font-family: 'Doppio One';
  padding:10px;
  width:30em;
  border-radius:5px;
  box-shadow:0 0 10px black;
}

.booklist a:hover {
  text-decoration:underline;
}

h3 {
  padding-left:20px;
  color:#CC5D25;
}

#wishlist {
  float:left;
  background-color:#eee;
  color:#485664;
}

#tradelist {
  float:right;
  background-color:#eee;
  color:#485664;
}

#listitem {
  margin-top:3px;
  margin-left:10px;
  margin-right:10px;
  padding:10px;
  border:1px solid black;
  background-color:#ccc;
  border-radius:3px;
  overflow:hidden;
}

#listitem img {
  vertical-align:middle;
  float:left;
}

#listitem p {
  text-align:right;
  margin:0;
}

#listitem p#price {
  text-align:right;
  font-weight:bold;
  margin:0;
  font-size:20px;
  font-family:'Lato';
  color:#444;
}

#listitem span#label {
  color:#CC5D25;
}

#after_lists {
  text-shadow:0 0 5px #565656;
  padding-top:21px;
  clear:both;
  text-align:center;
  margin-top:50px;
  margin-bottom:100px;
}

footer {
  position:relative;
}