html, body { margin: 0; }
html, footer { background-color: #565656; }
body { background-color: #fdfdfd; }


h1, h2, h3 {
  font-family: 'Doppio One';
  text-shadow: 0 0 3px #eee;
}

/* Header
*/
header {
  background-color: #eee;
  border-bottom: 7px solid white;
}
#header_main {
  display: table;
  margin: auto;
  width: 1015px;
  height: 84px;
}
header h1 {
  margin: 0;
  padding-bottom: 7px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #CC5D25;
  text-align: left;
}
/* Search (general)
*/
#header_search {
  position: relative;
  display: table;
  height: 84px;
}
#header_search_form {
  display: table-cell;
  vertical-align: middle;
}
#header_search_form input[type=text] {
  height: 35px;
  width: 280px;
  padding-left: 14px;
  background-color: #fcfcfc;
  border-radius: 35px;
  border-bottom: 0;
  font-style: italic;
  transition: 140ms border-radius;
}
#header_search_submit {
  position: absolute;
  background: url('/images/Search.png') no-repeat center center;
  width: 35px;
  height: 35px;
  margin-top: 25px;
  margin-left: -38px;
  cursor: pointer;
}
/* Search (results)
*/
#header_search_results {
  background-color: #fcfcfc;
  position: absolute;
  top: 61px;
  width: 280px;
}
#header_search_results.results + #header_search_form input[type=text] {
  border-radius: 35px 35px 35px 0;
}


/* Input forms
*/
input {
  padding: 2px 3px 0 4px;
  border-radius: 7px;
  font-size: 21px;
  font-family: serif;
  outline: 0;
}
input[type='submit'] {
  width: 100%;
  height: 70px;
  border-radius: 14px;
  background-color: #424242;
  color: #fefefe;
  font-size: 35px;
  font-style: italic;
  font-family: serif;
  cursor: pointer;
}


/* Footer
*/
footer {
  padding: 14px 0;
  text-align: center;
  font-size: 1.26em;
  color: white;
  border-top: 7px solid #ccc;
  /* ColorZilla gradient */
  background: -moz-linear-gradient(top,  rgb(73,73,73) 0%, rgb(86,86,86) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(73,73,73)), color-stop(100%,rgb(86,86,86))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
}

footer hr {
  width: 350px;
  border: 1px dashed #ccc;
}