html, body { margin: 0; }
footer { background-color: #565656; }
body { 
  background-color: #686868; 
  font-family: 'Lato';
}

/* General
*/
h1 {
  font-size: 35px;
}
h1, h2, h3 {
  font-family: 'Doppio One';
  text-shadow: 0 0 3px #eee;
}
a {
  text-decoration: inherit;
  font-style: inherit;
  color: #CC5D25;
}

/* Header (general)
*/
header {
  top:0;
  position:fixed;
  background-color: #eee;
  border-bottom: 7px solid white;
  width:100%;
  box-shadow:0 0 10px black;
}
#header_main {
  position: relative;
  display: table;
  margin: auto;
  width: 1015px;
  height: 84px;
}

header h1 {
  margin:0 auto;
  display:block;
  padding-bottom:0;
  vertical-align:middle;
}

#slogan {
  position:absolute;
  width:1015px;
  top:22px;
  text-align:center;
}
#header_main > #slogan:first-child {
  text-align: left;
}

/* Search (general)
*/
#header_search {
  position: absolute;
  display: table;
  height: 84px;
  right: 0;
}
#header_search_form {
  display: table-cell;
  vertical-align: middle;
}
#header_search_form input[type=text] {
  height: 35px;
  width: 247px;
  padding-left: 14px;
  background-color: #fcfcfc;
  border-radius: 14px 21px 14px 14px;
  border-bottom: 0;
  border-left: 0;
  font-style: italic;
  transition: 140ms border-radius;
}
#header_search_submit {
  position: absolute;
  background: url('/images/Search.png') no-repeat center center;
  width: 35px;
  height: 35px;
  margin-top: 25px;
  margin-left: -38px;
  cursor: pointer;
}
/* Search (results)
*/
#header_search_results {
  background-color: #fcfcfc;
  position: absolute;
  top: 61px;
  width: 420px;
  margin-left: 1px;
  border-radius: 0 35px 14px 14px;
  z-index: 70;
}
#header_search_results.filled {
  box-shadow: 0 0 21px rgba(252,252,252,.7);
  padding-left: 7px;
}
#header_search_results.filled + #header_search_form input[type=text] {
  border-radius: 14px 21px 0 0;
}
#header_search_results aside {
  font-style: italic;
  color: #777;
}
.search_complaint #header_search_nothing {
  padding: 7px;
  font-size: 21px;
  font-style: italic;
}
/* Book results
*/
#header_search_results .book {
  font-size: 21px;
  padding: 3px 0 7px 0;
}
#header_search_results .book a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
#header_search_results .book .year {
  margin-right: 7px;
  padding: 3px;
  float: right;
  font-size: 17px;
}

/* Badge
*/
#badge {
  position: absolute;
  top: 0;
  width: 268px;
  z-index:5;
}
#badge img {
  width: 84px;
  height: 84px;
}
#badge_main {
  position: absolute;
  right: 0;
  text-align: center;
}
#badge_image {
  height:84px;
}
#badge_user_info {
  height: 42px;
  line-height: 133%;
}
#badge_username {
  margin-top: 3px;
  font-size: 17px;
  font-weight: bold;
}
#badge input[type=submit] {
  margin-top: 3px;
  width: 160px;
  height: 26px;
  background-color: #ccc;
  border: solid #aaa;
  border-width: 2px 1px 1px 1px;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 12px;
  font-style: normal;
}

/* Input forms
*/
input {
  padding: 2px 3px 0 4px;
  border-radius: 7px;
  outline: 0;
  font-size: 21px;
  font-family: 'Lato', serif;
}
input[type=submit] {
  width: 100%;
  height: 70px;
  border-radius: 14px;
  background-color: #424242;
  color: #fefefe;
  font-size: 35px;
  font-style: italic;
  font-family: serif;
  cursor: pointer;
}


/* Footer
*/
footer {
  width:100%;
  padding: 14px 0;
  text-align: center;
  font-size: 1.26em;
  color: white;
  border-top: 7px solid #ccc;
  text-shadow: 0 1px black;
  /* ColorZilla gradient */
  background: -moz-linear-gradient(top,  rgb(73,73,73) 0%, rgb(104,104,104) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(73,73,73)), color-stop(100%,rgb(104,104,104))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(73,73,73) 0%,rgb(104,104,104) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(73,73,73) 0%,rgb(104,104,104) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(73,73,73) 0%,rgb(104,104,104) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(73,73,73) 0%,rgb(104,104,104) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#104,104,104',GradientType=0 ); /* IE6-9 */
}
footer hr {
  width: 350px;
  border: 1px dashed #ccc;
}

/* Standardized widths
*/
.width_standard {
  width: 1015px;
}
.main_standard {
  margin: auto;
}
.body_standard {
  margin-top: 117px;
  padding: 15px;
  background-color: #fdfdfd;
  border-radius: 11px;
  box-shadow: 0 0 11px black;
}
.width_standard.body_standard {
  width: 985px; /* for the 15px padding */
  margin-bottom: 28px;
}
.body_standard > h1:first-child/*,
.body_standard > h2:first-child,
.body_standard > h3:first-child,
.body_standard > h4:first-child*/ {
  margin: 28px auto 42px auto;
  text-align: center;
}