html, body { margin: 0; }
body { background-color: #fefffc; }

h1, h2 {
  font-family: 'Doppio One';
  text-shadow: 0 0 3px #fed;
}

header {
  height: 84px;
  background-color: #eee;
  display: table;
  width: 100%;
}

header h1 {
  margin: 0;
  padding-bottom: 7px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  color: #CC5D25;
}

header a:link, a:visited{
  text-decoration:none;
  color: #CC5D25;
}

/* tried hard to get the badge to display how I wanted without using position:absolute;
but it kept moving the title over so i sorta gave up*/

#badge {
    background-color:#CC5D25;
    text-align:right;
    padding-top:12px;
    padding-bottom:12px;
    position:absolute;
    width:192px;
}

#badge p {
    margin:0;
    font-family: 'Doppio One';
    padding-right:10px;
}

#badge img {
    float:left;
    padding-left:10px;
}

.pure-button {
    background-color:#CC5D25;
    font-family: 'Doppio One';
}

::-webkit-input-placeholder{
    font-family: 'Doppio One';
}

/* same problem here as with the badge */

#search {
    position:absolute;
    right:0px;
    top:0px;
    padding-right:10px;
    padding-top:24px;
    z-index:2;
}

#listwrapper {
    margin-left:auto;
    margin-right:auto;
    width:70em;
}

.booklist {
    font-family: 'Doppio One';
    padding:10px;
    margin-top:15px;
    width:30em;

}

#wishlist {
  float:left;
  background-color:#eee;
  color:#CC5D25;
}

#tradelist {
  float:right;
  background-color:#eee;
  color:#CC5D25;
}

#listitem {
  margin-left:10px;
  margin-right:10px;
  padding:10px;
  background-color:#485664;
}

#listitem p {
  text-align:right;
}

#listitem img {
  vertical-align: center;
  float:left;
}

footer {
  clear:both;
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  padding: 14px 0;
  text-align: center;
  font-size: 1.26em;
  color: white;
  border-top: 7px solid #ccc;
  /* ColorZilla gradient */
  background: -moz-linear-gradient(top,  rgb(73,73,73) 0%, rgb(86,86,86) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(73,73,73)), color-stop(100%,rgb(86,86,86))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(73,73,73) 0%,rgb(86,86,86) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
}

footer hr {
  width: 350px;
  border: 1px dashed #ccc;
}