html, body { margin: 0; }
body { background-color: #fefffc; }

h1, h2 {
  font-family: 'Doppio One';
  text-shadow: 0 0 3px #fed;
}

header {
  height: 84px;
  background-color: #eee;
  display: table;
  width: 100%;
}

header h1 {
  margin: 0;
  padding-bottom: 7px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  color: #CC5D25;
}

header a:link, a:visited{
  text-decoration:none;
  color: #CC5D25;
}

/* tried hard to get the badge to display how I wanted without using position:absolute;
but it kept moving the title over so i sorta gave up*/

#badge {
    background-color:#CC5D25;
    text-align:center;
    padding-top:12px;
    padding-bottom:12px;
    position:absolute;
    min-width:192px;
    display:inline-block;
}

#badge p {
    margin:0;
    font-family: 'Doppio One';
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    min-width:96px;
}

#badge img {
    float:left;
    padding-left:10px;
}

#badge input {
  width:96px;
  height:22px;
  background-color:#CC5D25;
  border:1px solid black;
  font-size:60%;
  font-family:'Doppio One';
  text-transform:uppercase;
}
.pure-button {
    background-color:#CC5D25;
    font-family: 'Doppio One';
}
