#search_form {
  padding-right: 7px;
}

/* Search form itself
*/
.search_input_holder {
  display: inline;
}
.search_form_row {
  position: relative;
  margin-bottom: 35px;
  height: 49px;
}
/* Individual rows
*/
.search_input_holder  {
  position: absolute;
}
.search_input_holder:nth-of-type(2) {
  right: 0;
}
/* Individual inputs
*/
.search_input_half {
  width: 49%;
}
.search_input_two-thirds {
  width: 65%;
}
.search_input_one-third {
  width: 33%;
}
#search_form input {
  height: 42px;
  width: 100%;
}
#search_form aside {
  position: absolute;
  right: 0;
  font-size: 21px;
  font-style: italic;
}

/* Search results
*/
#search_form_results {
  border-top: 1px solid #ccc;
}
#search_form_results .warning {
  padding: 35px 0 21px 0;
  text-align: center;
  font-size: 21px;
}
#search_form_results h1 {
  margin-bottom: 0;
}
#search_form_results .display_book_year {
  float: right;
  margin-top: 7px;
  padding-right: 7px;
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  color: #777;
}
#search_form_results aside {
  font-size: 17px;
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  display: inline;
  color: #424242;
}

#after_search {
  text-shadow:0 0 5px #565656;
  padding-top:21px;
  clear:both;
  text-align:center;
  margin-top:50px;
  margin-bottom:100px;
}